body {
    background-color:#FFE3E4;
    font-family: 'Akshar', sans-serif;
    color: #424C55;
    text-align: center;
}

header {

   font-size: 32px;
}

.hide {
    display: none;
  }

/* 'begin quiz' button styling */
.buttons {
  align-items: center;
  appearance: none;
  background-color: #FFD6D8;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Akshar', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 18px;
}

.buttons:hover {
  box-shadow: #FFADB1 0 0 0 1.5px inset, #FFADB1 0 2px 4px, #FFADB1 0 7px 13px -3px, #FFADB1 0 -3px 0 inset;
}

.buttons {
  box-shadow: #FFADB1 0 4px 8px, #FFADB1 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttons {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

 

  .submit-button {
    align-items: center;
    appearance: none;
    background-color: #FFD6D8;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Akshar', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 18px;
  }
  

  .submit-button:hover {
    box-shadow: #FFADB1 0 0 0 1.5px inset, #FFADB1 0 2px 4px, #FFADB1 0 7px 13px -3px, #FFADB1 0 -3px 0 inset;
  }
  
  .submit-button {
    box-shadow: #FFADB1 0 4px 8px, #FFADB1 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .submit-button {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

input[type=text] {
    border: 2px solid  #FFADB1;
    border-radius: 5px;
    padding: 14px;
    
  }

 
  #highscores {
    text-align: center;
    margin-right: 45px;
  }